<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suguiming.superclass">

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- sd card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".basic.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".meTab.CountManagerActivity" />
        <activity android:name=".meTab.ClassSynActivity" />
        <activity android:name=".meTab.BasicInfoActivity" />
        <activity
            android:name=".studentTab.StudentInfoActivity"
            android:theme="@style/BackSwipeTheme" />
        <activity android:name=".classTab.AddClassActivity" />
        <activity
            android:name=".studentTab.StudentAddActivity"
            android:theme="@style/BackSwipeTheme" />
        <activity
            android:name=".studentTab.info.EditNameSheet"
            android:theme="@style/ActionSheetTheme" />
        <activity
            android:name=".studentTab.info.GenderSheet"
            android:theme="@style/ActionSheetTheme" />
        <activity
            android:name=".studentTab.info.PhoneSheet"
            android:theme="@style/ActionSheetTheme" />
        <activity
            android:name=".studentTab.info.RemainCountSheet"
            android:theme="@style/ActionSheetTheme" />
        <activity
            android:name=".studentTab.info.StudentRemarkActivity"
            android:theme="@style/BackSwipeTheme" />
        <activity
            android:name=".studentTab.info.StudentPhotoRecordActivity"
            android:theme="@style/BackSwipeTheme" />
        <activity
            android:name=".studentTab.info.StudentFinishedCourseActivity"
            android:theme="@style/BackSwipeTheme" />
        <activity
            android:name=".studentTab.info.photoSheet.PhotoSheet"
            android:theme="@style/ActionSheetTheme" />
        <activity
            android:name=".studentTab.info.photoSheet.SelectPhotoSheet"
            android:theme="@style/AlphaTheme" />
        <activity
            android:name=".studentTab.info.photoSheet.AlbumPhotoActivity"
            android:theme="@style/PresentTheme" />
        <activity android:name=".studentTab.info.photoSheet.AlbumDirActivity"/>
    </application>

</manifest>